$yellow: #fed049;
$green: #28df99;
$gray: #747474;
$gray2: #828282;
$white: #ffffff;
$black: #474747;
$ijo: #4cc78e;
$bg: #f9f9f9;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
);
