@import "var";
body {
  font-family: "Poppins", sans-serif;
}
.main-nav {
  position: absolute;
  .wave {
    z-index: 1;
    // height: 10%;
  }
  .navbar-z {
    z-index: 2;
  }
}
.navbar-z {
  // position: ;
  // background-color: $ijo;
  // opacity: 0.8;
  padding-top: 20px;
  font-size: 16px;
  img {
    height: 36px;
    border-radius: 50%;
  }
  .logo {
    color: $black;
    font-weight: map-get($font-weight, semibold);
    font-size: 24px;
    padding-left: 1em;

    &:hover {
      color: $yellow;
    }
  }
  .navbar-nav {
    li {
      padding-left: 30px;
    }
    .active {
      color: $black !important;
      border-bottom: 4px solid $white;
      font-weight: map-get($font-weight, semibold) !important;
    }
    .nav-link {
      color: $black;
      font-weight: map-get($font-weight, regular);

      &:hover {
        color: $yellow;
      }
    }
    .contact {
      color: $white;
      //   padding: 5px 20px;
      background-color: $yellow;
      border-radius: 3em;
      //   }
      &:hover {
        color: $yellow;
        background-color: $white;
      }
    }
  }
}

.hero {
  // background-color: $bg;
  .des {
    padding-left: 5%;
    h1 {
      font-size: 32px;
      font-weight: map-get($font-weight, medium);
      .yellow {
        font-size: 48px;
        color: $yellow;
        font-weight: map-get($font-weight, semibold) !important;
      }
    }
    p {
      color: $gray2;
      font-size: 16px;
    }
  }
}

.btn-prm {
  padding: 8px 25px;
  color: $white;
  background-color: $ijo;
  border-radius: 3em;
  border: 0px;
}

.tq {
  .btn {
    margin-left: 1em;
  }
  .cv {
    text-decoration: underline;
    color: $ijo;
  }
}
