@import "colors";

.navbar-z {
  padding-top: 20px;
  font-size: 18px;
  img {
    height: 36px;
    border-radius: 50%;
  }
  .navbar-nav {
    .active {
      // color: $yellow !important;
      border-bottom: 4px solid $yellow;
      // font-weight: 500;
    }
    .contact {
      //   a {
      color: $white;
      //   padding: 5px 20px;
      background-color: $yellow;
      border-radius: 3em;
      //   }
      &:hover {
        color: $white;
        background-color: $green;
      }
    }
  }
}
