@import "var";

@media screen and (max-width: 768px) {
  .navbar-z {
    background-color: $ijo;
  }
  .logo {
    font-size: 18px;
  }
  .role {
    .role-item {
      margin: 0 0 0 10px;
    }
  }
}
